html {
    box-sizing: border-box;
    font-size: 16px;
    background: url('../img/catroomguardian.jpeg');
}


#flex-container-parent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

#flex-container {
    order: 0;
    flex: 100 1 auto;
    align-self: stretch;
}

h1 {
    font-size: 72px;
    font-family: arial; 
    background: -webkit-linear-gradient(#090979, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex; 
    justify-content: center; 
}

h2 {
    display: flex; 
    justify-content: center;
     
}
