TODO: 
Must use CSS transition and/or animation, such as for a pleasantly gradual hover transition eect.
use flexbox to get word cloud to take up entire body 
clean up names - use BEM 
onClick event!

html {
    box-sizing: border-box;
    font-size: 16px;
    background: url('/img/catroomguardian.jpeg') no-repeat center center fixed;
    background-size: cover;
}


h1 {
    font-size: 70px;
    font-family: arial; 
    background: -webkit-linear-gradient(#090979, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



#flex-container-parent {
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

#flex-container {
    order: 0;
    flex: 1 30px;
    align-self: stretch;
}

button {
    background-color: white; 
    border-radius: 50%;
    border: 2px black;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}