html {
    background: url('../img/catroomguardian.jpeg'); 
    background-size: cover;
}


h1 {
    font-size: 70px;
    font-family: arial; 
    background: -webkit-linear-gradient(#090979, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#maincontent {
    display: flex;
    align-content: center;
    justify-content: center;
}

#maincontent-worldcloud {


}

button {
    background-color: white; 
    border-radius: 50%;
    border: 2px black;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}